---
import Layout from '../layouts/Layout.astro'

import Title from '../components/Title.astro'
import ListOfGames from '../components/ListOfGames.astro'
---

<Layout title="Visamagames. Portal of game news">
	<main class="max-w-[1120px] mx-auto pt-4">
		<Title />
		<ListOfGames />
	</main>
</Layout>

<style>
	
</style>
