---
const { game } = Astro.props

import GameCarousel from './GameCarousel.astro'
---
<div class="bg-zinc-800/50 rounded-md hover:scale-110 transition">
  <GameCarousel title={game.name} screenshots={game.short_screenshots} />
  <h2 class="text-white text-xl font-semibold">{game.name}</h2>
  <a href={`/${game.slug}`}>View more</a>
</div>